{% extends "base.html" %}

{% block title %}Unchecked Scripts{% endblock %}

{% block content %}
<div class="min-h-screen p-4">
    <div class="text-blue-950 p-4 text-center">
        <h1 class="text-2xl text-red-500 font-bold mt-16">Unchecked Scripts</h1>
    </div>
    <div class="px-3 py-4 flex justify-center">
        <table class="min-w-full border-collapse block md:table">
            <tbody class="block md:table-row-group">
                {% for file in unchecked_files %}
                <tr class="border border-grey-500 md:border-none block md:table-row">
                    <td class="p-2 md:border md:border-grey-500 text-left text-center block md:table-cell md:w-3/4">
                        <div class="flex justify-center items-center">
                            <span class="inline-block md:hidden font-bold"></span>
                            <p>{{ file.question.title}}.pdf</p>
                        </div>
                    </td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell md:w-1/4">
                        <div class="flex justify-center space-x-2">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">
                                <a href="{{ file.answer.url }}" download>Download</a>
                            </button>
                            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 border border-green-500 rounded">
                                <a href="{% url 'check_script' user_id %}">Check</a>
                            </button>
                        </div>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="2" class="py-2 px-4 border-b text-center">No unchecked files available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
